<div class="container">

  <h1>Find your experience</h1>
  <p>Your search returned <%= @experiences.length %> result<%= 's' if @experiences.length != 1 %></p>

  <div class="row">
    <div class="col">
      <div class="card-display">
        <% @experiences.each do |experience| %>
        <div class="card-experience">
          <% if experience.photo.attached? %>
          <%= cl_image_tag experience.photo.key, alt: experience.name, class: "card-category img-left" %>
          <% end %>
          <div class="card-experience-infos">
            <div>
              <h2><%= link_to experience.name, experience_path(experience.id) %></h2>
              <p>
                <% if experience.description.length < 50 %>
                <%= experience.description %>
                <% else %>
                <%= "#{experience.description[0, 50]}..." %>
                <% end %>
              </p>
            </div>
            <h3 class="card-experience-pricing"> $<%= sprintf("%.2f", experience.price) %></h3>
            <%= cl_image_tag experience.user.photo.key, class: "card-experience-user avatar-bordered" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col">

        <div
        id="map"
        style="width: 100%;
        height: calc(100vh - 10px); position: sticky; top: 5px; "
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

    </div>

  </div>
</div>



