<div class="container">
<h1>Add your experience</h1>
<div class="form-new">
<%= simple_form_for @experience do |f| %>
  <%= f.input :name, label: 'Name:', hint: 'Name your experience!' %>
  <%= f.input :description, label: 'Description:', hint: 'Keep it short and sweet.' %>
  <%= f.input :location, label: 'Where:', hint: 'Address please.' %>
  <%= f.input :date_choices, label: 'When:', hint: 'Choose some dates.' %>
  <%= f.input :max_participants, label: 'How many guests?:', hint: 'Max number of allowed guests.' %>
  <%= f.input :price, label: 'Cost:', hint: 'Per person cost.'  %>
  <%= f.input :photo, as: :file, label: 'Photo:', hint: 'P.S. a good quality photo will draw more eyes!' %>
  <%= f.submit "Add experience", class: "btn btn-1" %>
<% end %>
</div>
</div>
